body {
    background-color: #404EED;
}

main {
    position: relative;
    align-items: center;
    color: #fff;
    display: flex;
    margin: 0px auto;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    height: 970px;
    background: url("../img/chat_list/chat_list_bg.png") no-repeat;
    padding-top: 100px;
    margin: 0 auto;
}

.content {
    width: 90%;
}

.username_and_buttons {
    margin: 40px auto 0;
    width: 95%;
    max-width: 960px;
    display: flex;
    justify-content: space-between;
}

.username {
    padding-right: 8%;
    padding-bottom: 7px;
    margin-left: 15px;
    margin-bottom: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 22px;
    border-bottom: 1px solid #fff;
    min-width: 75px;
}

.buttons {
    justify-content: end;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    width: 80px;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

.img_button {
    margin-right: 15px;
    height: 25px;
}

.main_block {
    position: relative;
    width: 100%;
    max-width: 960px;
    height: 720px;
    margin: auto;
    border: 1px solid #fff;
    border-radius: 20px;

}

.main_top {
    padding: 15px 0 15px 30px;
    border-bottom: 1px solid #fff;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.mychats {
    text-align: left;
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

.main_center {
    margin: auto;
    width: 90%;
    height: 80%;
    border: 1px solid #fff;
    border-top: none;
    border-radius: 0 0 10px 10px;
    overflow: auto;
}

a {
    color: #fff;
    transition: all .1s linear;
}

main a:hover {
    background-color: #3342e2;
}

.every_chat {
    width: 100%;
}

.every_chat a:hover {
    color: #fff;
}

.exit:hover {
    background-color: transparent;
}

.main_bottom {
    margin: auto;
    width: 90%;
    display: flex;
    text-align: center;
    justify-content: center;
    vertical-align: auto;
}

.main_bottom input {
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
}


/* Коли нажали на джоїн !!!!!! */
.create_and_join {
    margin: 10px 5% 5px 0;

}

.first {
    margin: 15px 5% 15px 0;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #F6F6F6;
    box-sizing: border-box;
    border-radius: 25px;
    transition: color .2s linear,
    background-color .2s linear;
}

.first:hover:not(input) {
    color: #000;
    background-color: #F6F6F6;
}

input.create_and_join {
    background-color: #636363;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px 0 0 5px;
    padding: 5px 10px;
    margin-right: 0px;

    width: 90%;
}

input.create_and_join::placeholder {
    color: #aaa;
}

.join_input_button {
    width: 100%;
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 2px solid #fff;
}

.join {
    background-color: #fff;
    color: #000;
    transition: background-color .2s linear;

    margin: 10px 1% 5px 0;
    margin-left: 0px;
    padding: 10px 20px;
    border: 1px solid #F6F6F6;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0;
}

.join:hover {
    background-color: rgb(209, 209, 209);
}


/* ======================= */
/* нажали кнопку реєстрації */

.create_input_button {
    display: none;
    border-top: 2px solid #ddd;
    padding-left: 5px;
    padding-top: 5px;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.create_input_button input, .create_input_button button {
    margin: 1px 0;
}

.create_invite {
    margin-top: 5px;
}

.create_invite, .create_name {
    display: flex;
    flex-direction: row;
}


/* Самі чати */

.chat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #fff;
    border-radius: 15px;
    width: 99%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
}

.left {
    margin-left: 5px;
}

.chat_name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
}

.chat_name:hover {
    color: #fff;
}

.last_msg {
    margin-left: 2px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;

    color: #a7acb1;
}

.last_msg:hover {
    color: #a7acb1;
}

.copy {
    border: 0;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.favourite {
    width: 50px;
    margin: auto 5px;
}

.favoutite_img {
    width: 100%;
}

a:hover {
    color: #fff;
}

@media (max-width: 1000px) {

}

@media (max-width: 700px) {
    .content {
        width: 95%;
    }
}

@media (max-width: 550px) {
    .content {
        width: 100%;
    }

    .main_center {
        width: 95%;
    }
}