html{
    background-color: #fff;
    width: 100%;
    margin: auto;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #6c7279;
    margin: auto;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

p{
    margin: 0 0 10px;
}

a{
    text-decoration: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}
/* ====== сontainer ====== */
.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
}


/* ====== intro ====== */
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    padding-top: 85px;
    padding-bottom: 200px;
    margin: 0 auto -20px;
    max-width: 1280px;
    width: 100%;
    height: 637px;
    background: url("../img/header__bg.png") center no-repeat;
}

.intro__inner{
    font-family: 'Open Sans', sans-serif;
    margin: 2px auto;
    padding: 50px 150px 0 37%;
    width: 100%;
    max-width: 1280px;
    color: #fff;
    text-align: left;
}

.intro__title{
    margin: 0 0 20px;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1.1;
    font-weight: 700;
}

.intro__subtitle{
    text-align: left;
    font-size: 18px;
    margin-bottom: 60px;
}

/* ====== button ====== */

.btn{
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    padding: 14px 40px;
    border-radius: 5px;
    border: 0;
    font-family: inherit;
    cursor: pointer;

    transition: background .1s linear;
}

.btn:hover{
    color: inherit;
}

/* next */

.next{
    align-content: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: -40px auto;
    display: flex;
    max-width: 1280px;
    width: 100%;
}

.chats_and_people{
    width: 42%;
    height: 100%;
    margin-left: 60px;
    color: #000;
    flex-direction:column;
    display: flex;
    text-align: left;
    vertical-align: middle;
    padding: 50px;
}

.cap__title{
    font-weight: 700;
    font-size: 46px;
}

.cap__text{
    font-size: 26px;
}

.cap__img_div{
    /* padding-right: 150px; */
    margin: 70px auto;
}
.cap_img{
    height: 300px;
}

/* phone_stars */
.phone_stars{
    display:flex;
    background-color: #F6F6F6;
    max-width: 1280px;
    width: 100%;
    margin: auto

}

.phone{
    margin: auto;
    width: 55%;
    height: 100%;
}

.phone__img{
    width: 100%;
    margin: auto;
}

.stars{
    width: 45%;
    color: #000;
    flex-direction:column;
    display: flex;
    text-align: left;
    vertical-align: middle;
    padding: 50px 100px 100px;
    background: url("../img/stars_phone.png") no-repeat;
}


/* Реєстрація або авторизація і планета */

.reg_or_login{
    justify-content:left;
    margin: 60px auto;
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: url("../img/third_stars.png") no-repeat;
}

.text_and_planet{
    padding: 50px 180px 50px 70px;
    align-items: center;
    margin: 60px auto;
    max-width: 1280px;
    width: 100%;
    color: #000;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.reg_title_and_text{
    margin: 0 -10px 0 40px;
    display: flex;
    flex-direction: column;
}

.planet{
    padding: 0 100px;
    width: 90%;
}

.planet__img{
    width: 100%;
}

.buttons_reg_log{
    /* background-color: aqua; */
    padding: 0 20px;
    display: flex;
    justify-content: left;
}

.reg, .login{
    border: 2px solid #3844cf;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    transition: all .2s linear;

    padding: 10px 50px;
}

.reg:hover, .login:hover{
    background-color: #404EED;
    color: #eee;
}

.or{
    margin: auto 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
}




