<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&family=Righteous&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/chat.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/js/main.js"></script>

    <title>Чат</title>
</head>
<body vlink="#fff" alink="#fff">
<main class="main">
    <div class="top_content">
        <div class="top">
            <div class="return">
                <a href="/chats">Повернутися</a>
            </div>
            <div class="chat_info">
                <div class="chat_name" th:text="${name}">Назва чату</div>
                <div class="chat_info__bottom">
                    <div class="members">Учасники: <span th:text="${members}"></span></div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="chat_container" id="chat">
                <span th:each="msg: ${list}" id="chat_cont">
                    <div class="my_msg__box" th:if="${msg.author == user}">
                        <div class="my_message" >
                            <b><span th:text="${msg.author}" class="msg_time"></span></b>
                            <div class="msg_text" th:text="${msg.message}">
                                Eu <br> sem integer vitae justo eget. Vestibulum lorem sed risus ultricies tristique nulla aliquet enim. Sit amet aliquam id diam maecenas ultricies. Lorem ipsum dolor sit amet consectetur adipiscing. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna. Aliquet sagittis id consectetur purus ut. Tortor pretium viverra suspendisse potenti nullam ac tortor. Ipsum consequat nisl vel pretium lectus quam id leo in. Eget egestas purus viverra accumsan in nisl nisi. Sit amet venenatis urna cursus eget. Ut tristique et egestas quis ipsum suspendisse ultrices.

                                Neque laoreet suspendisse interdum consectetur libero id faucibus. Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque. Arcu vitae elementum curabitur vitae nunc sed velit dignissim. Blandit volutpat maecenas volutpat blandit aliquam etiam erat. Blandit cursus risus at ultrices. Nec tincidunt praesent semper feugiat nibh sed. Dui faucibus in ornare quam viverra orci sagittis eu. Odio pellentesque diam volutpat commodo. Risus pretium quam vulputate dignissim suspendisse in est ante. In nisl nisi scelerisque eu. Sed viverra tellus in hac habitasse. Gravida arcu ac tortor dignissim convallis. Enim tortor at auctor urna nunc id cursus metus. Vitae congue eu consequat ac felis donec. Velit scelerisque in dictum non consectetur a erat nam. Cras ornare arcu dui vivamus arcu felis bibendum ut.
                            </div>
                            <div class="msg_time" th:text="${msg.date}">12:34</div>
                        </div>
                    </div>
                    <div class="not_my_msg__box" th:if="${msg.author != user}">
                        <div class="not_my_message">
                            <b><span class="msg_time" th:text="${msg.author}"></span></b>
                            <div class="msg_text" th:text="${msg.message}">
                                Eu <br> sem integer vitae justo eget. Vestibulum lorem sed risus ultricies tristique nulla aliquet enim. Sit amet aliquam id diam maecenas ultricies. Lorem ipsum dolor sit amet consectetur adipiscing. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna. Aliquet sagittis id consectetur purus ut. Tortor pretium viverra suspendisse potenti nullam ac tortor. Ipsum consequat nisl vel pretium lectus quam id leo in. Eget egestas purus viverra accumsan in nisl nisi. Sit amet venenatis urna cursus eget. Ut tristique et egestas quis ipsum suspendisse ultrices.

                                Neque laoreet suspendisse interdum consectetur libero id faucibus. Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque. Arcu vitae elementum curabitur vitae nunc sed velit dignissim. Blandit volutpat maecenas volutpat blandit aliquam etiam erat. Blandit cursus risus at ultrices. Nec tincidunt praesent semper feugiat nibh sed. Dui faucibus in ornare quam viverra orci sagittis eu. Odio pellentesque diam volutpat commodo. Risus pretium quam vulputate dignissim suspendisse in est ante. In nisl nisi scelerisque eu. Sed viverra tellus in hac habitasse. Gravida arcu ac tortor dignissim convallis. Enim tortor at auctor urna nunc id cursus metus. Vitae congue eu consequat ac felis donec. Velit scelerisque in dictum non consectetur a erat nam. Cras ornare arcu dui vivamus arcu felis bibendum ut.
                            </div>
                            <div class="msg_time" th:text="${msg.date}">12:34</div>
                        </div>
                    </div>
                </span>
            </div>
            <div class="bottom_bar">
                <form class="input_and_send" id="send_msg" th:action="@{/chat/{path}(path=${chat})}" method="post">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                    <div class="input">
                        <input name="message" type="text" placeholder="Введіть повідомлення..." id="message" autofocus
                               autocomplete="off">
                    </div>

                    <div class="send">
                        <input name="_csrf" type="hidden" value="4bf1816c-0080-40fd-a3f3-0d50c9d4a073"/>
                        <button type="submit"><img th:src="@{/img/chat/send.png}" alt="Відправити"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script>

    var socket = new SockJS("/chat");
    var stompClient = Stomp.over(socket);
    stompClient.connect({}, function (frame){
        stompClient.subscribe("/current_chat/chat", function (message){
            var parsedMSG = JSON.parse(message.body);
            if(parsedMSG.chat === "[[${chat}]]"){
                if(parsedMSG.author == "[[${user}]]")
                    $("#chat").append('<span id="chat_cont">\n' +
                        '                    <div class="my_msg__box">\n' +
                        '                        <div class="my_message">\n' +
                        '                            <div class="msg_time">' + parsedMSG.date + '</div>\n' +
                        '                            <div class="msg_text">\n'  +

                        '                            </div>\n' +
                        '                        </div>\n' +
                        '                    </div>\n' +
                        '                </span>');
                else
                    $("#chat").append('<span id="chat_cont">\n' +
                        '                    <div class="not_my_msg__box">\n' +
                        '                        <div class="not_my_message">\n' +
                        '                            <div class="msg_time">' + parsedMSG.date + '</div>\n' +
                        '                            <div class="msg_text">\n' +

                        '                            </div>\n' +
                        '                        </div>\n' +
                        '                    </div>\n' +
                        '                </span>');
                $(".msg_text").last().text(parsedMSG.message);
                scroll();
            }

        });
    });

    function send_msg(){
        var msg = $("#message").val();
        if(msg.trim().length != 0){
            stompClient.send("/app/send_msg", {}, JSON.stringify({
                'id': null,
                'chat': "[[${chat}]]",
                'author': "[[${user}]]",
                'message': msg
            }));
            console.log("sent");
        }
        document.getElementById("message").value = "";
    }


    $(".main").css("height", window.innerHeight + "px");

    document.getElementById("send_msg").onsubmit = function (event){
        event.preventDefault();
        send_msg();

    }

    scroll();
    function scroll(){
        chat = document.getElementById("chat");
        chat.scrollTo(0, chat.scrollHeight);
    }
</script>
</body>
</html>