<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600;700&family=Righteous&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/registration_login.css">
    <link rel="stylesheet" type="text/css" href="css/header_footer.css">
    <link rel="stylesheet" type="text/css" href="css/my-bootstrap.css">
    <title>Логін</title>
</head>
<body>
<main class="main">
    <span th:if="${errors}" th:each="error: ${error_msgs}">
       <div class="btn-danger" style="display: block; margin: 15px 2px;" th:text="${error}">

    </div>
    </span>

    <form method="post" th:action="@{/login}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

        <div class="main_block">
            <h3 class="reg_text">Вхід</h3>
            <input type="text" class="input" name="username" placeholder="Ім'я користувача" required autofocus>
            <input type="password" class="input" name="password" placeholder="Пароль" required>

            <input name="_csrf" type="hidden" value="4bf1816c-0080-40fd-a3f3-0d50c9d4a073"/>
            <input type="submit" class="submit" value="Ввійти">
        </div>
    </form>

    <div class="haveaccount">
        <span class="have_account">Немає аккаунту?&nbsp<a class="login" href="/registration">Реєстрація</a></span>
    </div>


    <div class="absolute_planet">
        <img src="img/planet.png" alt="" class="absolute_img">
    </div>
</main>

</body>
</html>